<div class="bodyIndexTweet">
        <%=react_component("Sidebar/Sidebar", {logout: logout_path}, class: "bodyIndexLeft")%>
    <div class="bodyIndexMid">
        <div class="bodyIndexMid__label">Thread</div>
        <%= render 'tweets/single'%>
    </div>
    <div class="bodyIndexRight">
        <div class="bodyIndexRight__main">
            <%=react_component("Search/Search", prerender: true)%>
            <div class="category__index">
                <%=react_component("Trending/Trending", {topics: @topics})%>
            </div>
            <div class="users__index">
                <%=react_component("Followers/Followers", {users: @users})%>
            </div>
            <%if logged_in? %>
                <p style="font-size: 12px; color: red; text-align: right"><%=link_to 'Logout', logout_path, method: :delete %></p>
            <%else%>
                <p><%=link_to 'Login', login_path %></p>
            <%end%>
        </div>
    </div>
</div>
