<div class="tweet_container">
        <div class="tweet_container_main">
            <%=react_component("MainTweet/Avatar", prerender: true)%>
            <%=link_to tweet_path(@tweet), class:"tweet_container_user" do %>
                <div class="tweet_container_user_head">
                    <span class="tweet_user"><%=@tweet.user.username%></span>
                    <span class="tweet_time_ago"><%= time_ago_in_words(@tweet.created_at)%> ago</span>
                </div>
                <div>
                    <%=@tweet.tweet%>
                    <%if @tweet.topics.any?%>
                        <%@tweet.topics.each do |topic|%>
                            <span class="tweet_topic">#<%=topic.topic%></span>
                        <%end%>   
                    <%end%>
                </div>
            <%end%>
            <div class="tweet_editDelete">
                <% if logged_in? && @tweet.user==current_user%>
                    <%=react_component("EditDelete/Edit", {edit: edit_tweet_path(@tweet)})%>
                    <%=link_to tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure you want to delete?"} do%>
                        <%react_component("EditDelete/Delete", {delete: :delete})%>
                    <%end%>
                <%end%>
            </div>
        </div>
        <div class="tweet_container_icons">
            <%=react_component("MainTweet/Links", {reply_path: new_tweet_reply_path(@tweet)})%>
        </div>
    </div>
