<table>
    <thead>
        <tr>
            <th>Tweet</th>
            <th colspan='3'>Actions</th>
            <th>By</th>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody>
        <%@tweets.each do |tweet|%>
            <tr>
                <td><%=tweet.tweet%></td>
                <td><%=link_to 'Show', tweet_path(tweet)%> </td>
                <%if logged_in? && tweet.user == current_user%>
                    <td><%=link_to 'Edit', edit_tweet_path(tweet)%> </td>
                    <td><%=link_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: "Are you sure you want to delete?"}%> </td>
                <%end%>
                <td></td>
                <td></td>
                <td><%=tweet.user.email%></td>
                <td>
                    <% if tweet.topics.any?%>
                        <%=render tweet.topics%>
                    <%end%>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>
<%if logged_in? %>
    <p><%=link_to 'Logout', logout_path, method: :delete %></p>
<%else%>
    <p><%=link_to 'Login', login_path %></p>
<%end%> 