<%@tweets.each do |tweet|%>
    <div class="tweet_container">
        <div class="tweet_container_main">
            <%=react_component("MainTweet/Avatar", prerender: true)%>
            <%=link_to tweet_path(tweet), class:"tweet_container_user" do %>
                <div class="tweet_container_user_head">
                    <span class="tweet_user">@<%=tweet.user.username%></span>
                    <span class="tweet_time_ago"><%= time_ago_in_words(tweet.created_at)%></span>
                </div>
                <div>
                    <%=tweet.tweet%>
                    <%if tweet.topics.any?%>
                        <%tweet.topics.each do |topic|%>
                            <span class="tweet_topic">#<%=topic.topic%></span>
                        <%end%>   
                    <%end%>
                </div>
            <%end%>
        </div>
        <div class="tweet_container_icons">
            <%=react_component("MainTweet/Links", prerender: true)%>
        </div>
    </div>
<%end%>