<div class="signupBackdrop">
    <div class="tweet_new_modal">
        <div class="tweet_new_close">
            <%=link_to 'x', tweet_path(@tweet) %>
        </div>
        <div class="tweet_new_main">
            <div class="tweet_new_main_form">
                <div class="tweet_new_avatar">
                    <%=react_component("MainTweet/Avatar", prerender: true)%>
                </div>
                <% if @tweet.errors.any?%>
                    <ul class="signupErrors">
                        <%@tweet.errors.full_messages.each do |msg| %>
                            <li><%= msg%></li>
                        <%end %>
                    </ul>
                <%end%>
                <%=render 'form'%>
            </div>
        </div>
    </div>
</div>

<div class="bodyIndexTweet">
        <%=react_component("Sidebar/Sidebar", {logout: logout_path}, class: "bodyIndexLeft")%>
    <div class="bodyIndexMid">
        <div class="bodyIndexMid__label">Thread</div>
        <%= render 'single'%>
    </div>
    <div class="bodyIndexRight">
        <div class="bodyIndexRight__main">
            <%=react_component("Search/Search", prerender: true)%>
            <div class="category__index">
                <%=react_component("Trending/Trending", {topics: @topics})%>
            </div>
            <div class="users__index">
                <%=react_component("Followers/Followers", {users: @users})%>
            </div>
        </div>
    </div>
</div>
