<h1>edit tweet </h1>
<p>by: <%=@tweet.user.email%></p>

<% if @tweet.errors.any?%>
    <h4> Errors in tweeting </h4>
    <ul>
        <%@tweet.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
        <%end %>
    </ul>
<%end%>
<%= form_with(model: @tweet, local: true) do |f|%>

    <p>
        <%=f.label :tweet%>
        <%=f.text_area :tweet%>
    </p>

    <button>Edit</button>
<%end%>
<p><%=link_to 'Show all', tweets_path%> </p>


