<h1>show new tweet </h1>

<% if @tweet.errors.any?%>
    <h4> Errors in tweeting </h4>
    <ul>
        <%@tweet.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
        <%end %>
    </ul>
<%end%>
<%= form_with scope: :tweet, url: tweets_path, local: true do |f|%>

    <p>
        <%=f.label :tweet%>
        <%=f.text_area :tweet%>
    </p>

    <button>Post</button>
<%end%>

<p><%=link_to 'All tweets', tweets_path %></p>



