<div class="bodyIndexTweet">
        <%=react_component("Sidebar/Sidebar", {logout: logout_path}, class: "bodyIndexLeft")%>
    <div class="bodyIndexMid">
        <div class="bodyIndexMid__label">Connect</div>
         <%=render 'user'%>
    </div>
    <div class="bodyIndexRight">
        <div class="bodyIndexRight__main">
            <%=react_component("Search/Search", prerender: true)%>
            <div class="category__index">
                <%=react_component("Trending/Trending", {topics: @topics})%>
            </div>
            <div class="users__index">
                <%=react_component("Followers/Followers", {users: @users})%>
            </div>
        </div>
    </div>
</div>
