
<h5><%= @user.username%></h5>
<p><%= @user.email%></p>

<%=link_to 'Index', users_path%>

<%if logged_in? && @user==current_user%>
    <%=link_to "Edit profile", edit_user_path(@user)%>
<%end%>

<p>List of tweets </p>
<%=render 'tweets/tweet'%>